<h1>Add weather</h1>

<form action="/weather/add" method='post'>
    <input type="text" name='name' value='Name'> 
    <input type="number" name='windSpeed' value='Wind Speed'> 
    <input type="number" name='rating' value='Rating'> 
    <button type="submit">Add weather</button>"
</form>