<h1>edit weather</h1>
<form action="/weather/edit/{{_id}}" method='post'>
    <input type="text" name='name' value='{{name}}'> 
    <input type="number" name='windSpeed' value='{{windSpeed}}'> 
    <input type="number" name='rating' value='{{rating}}'> 
    <button type="submit">Edit weather</button>"
</form>