<form action="/cat/add" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" placeholder="Name">
    <label for="furColor">Fur Color</label>
    <input type="text" name="furColor" placeholder="Fur Color">
    <button type="submit">Add cat</button>
</form>